.page {
  background-color: #2A2C2F;
  padding-top: 28px;
  padding-bottom: 24px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 16px;
  }
}
