.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  align-self: start;
  margin-left: 38px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-left: 28px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    margin-left: 0;
    margin-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    line-height: 1.64;
  }
}
